* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(214, 221, 237, 1);
}
.banner {
  /* background-color: aqua; */
  background-image: url("../Assets/Hero-bg.png");
  background-size: cover;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  /* /background-size: cover; */
}

.navigation-content {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 75px 90px;
}

.website-title {
  font-size: 34px;
  color: rgba(78, 71, 255, 1);
  font-family: "Inter";
  font-weight: bold;
}

.nav-button {
  background-color: rgba(78, 71, 255, 1);
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  height: 48px;
  width: 132px;
}

.banner-heading {
  font-size: 65px;
  font-family: "Raleway";
  color: #252432;
  height: 152px;
  width: 905px;
  text-align: center;
  margin: 0 auto;
  margin-top: 225px;
  margin-bottom: 45px;
}

.focus-button {
  background-color: rgba(78, 71, 255, 1);
  color: #ffffff;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: bold;
  border-radius: 10px;
  height: 48px;
  width: 162px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.preview {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 116px;
  margin-bottom: 116px;
}

.preview-header {
  font-family: "Raleway";
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  width: 517px;
  height: 60px;
  margin-bottom: 20px;
}

.preview-paragraph {
  color: rgba(37, 36, 50, 0.5);
  font-family: "Raleway";
  font-size: 24px;
  margin-bottom: 20px;
}

.preview-button {
  background-color: rgba(78, 71, 255, 1);
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  height: 40px;
  width: 200px;
  text-align: center;
}

.preview img {
  border-radius: 40px;
  height: 328px;
  width: 408px;
}

.stats {
  background-color: rgba(78, 71, 255, 0.1);
  margin-bottom: 200px;
  border-radius: 30px;
  height: 306px;
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.metrics {
  display: flex;
  justify-content: center;
  gap: 130px;
}

.stat-title {
  font-family: "Raleway";
  font-size: 38px;
  color: #252432;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 50px;
}

.metric-details h2 {
  color: rgba(78, 71, 255, 1);
  font-family: "Inter";
  font-size: 80px;
  font-weight: bold;
}

.metric-details p {
  font-size: 20px;
  font-family: "Inter";
  color: rgba(0, 0, 0, 0.5);
}

.contact-form {
  display: flex;
  justify-content: center;
  gap: 130px;
}

.contact-form h1 {
  font-size: 97px;
  font-weight: bold;
  font-family: "Raleway";
}

.contact-form label {
  font-family: "Inter";
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

.contact-form input {
  height: 70px;
  width: 497px;
  border-radius: 10px;
  display: block;
  padding: 40px;
  margin-bottom: 15px;
}

.contact-form textarea {
  display: block;
  width: 497px;
  height: 135px;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
}

.contact-form input::placeholder {
  font-size: 20px;
  font-family: "Inter";
}

.contact-form textarea::placeholder {
  font-size: 20px;
  font-family: "Inter";
}

.contact-form button {
  background-color: rgba(78, 71, 255, 1);
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  height: 62px;
  width: 497px;
  text-align: center;
}
